/*
Student Name: Caleb Harris
File Name: styles.css
Date: 06/21/2021
*/

body, header, h1, h2, nav, ul, main, div, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

nav li {
  list-style-type: none;
  font-size: 1.05em;
  margin: 0.25em;
  border-bottom:1px solid white;
}

header {
  text-align: center;
  padding-bottom: 10px;
}

nav {
  text-align: center;
  margin: 0, 1em, 0;
  padding: 1em, 6px, auto;
  padding-bottom: 6px;
  font-size: 1.15em;
  border-top: 4px solid white;
}

main {
  max-width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  margin-bottom: 0.5em;
  padding-right: 1em;
  font-size: 1.25em;
}

.top {
  background-color: #333333;
  color: white;
}

#hero {
  border: solid 2px black;
}

h1 {
  font-family:'Kirang Haerang', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 2.8em;
}

footer {
  margin-top: 95%;
  background-color: #333333;
  color: white;
  padding-bottom: 20%;
  padding-top: 3%;
  padding-left: 1em;
}

footer a:link, nav a:link {
  color: white;
  text-decoration: none;
}

footer a:visited, nav a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover, nav a:hover {
  color: white;
  text-decoration: underline;
}

header a:link, header a:visited {
  color: white;
  text-decoration: none;
}

#bloglink {
  background-color: cyan;
  text-align: center;
  padding: 6px 10px;
  font-size: 3em;
  width: 60%;
  margin: 0 auto;
  border-radius: 10%;
}

#bloglink-bigger {
  display: none;
}

.minimap {
  display: block;
}

.medmap {
  display: none;
}

.megamap {
  display: none;
}


/* Media Query for Tablet viewport */ 
@media screen and (min-width: 630px) {

  nav li {
  list-style-type: none;
  display: inline;
  margin-right: 1em;
}

  #bloglink {
    display: none;
  }

  #bloglink-bigger {
    display: block;
    max-width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
  padding-right: 1em;
  font-size: 1.25em;
  }

  .minimap {
    display: none;
  }

  .medmap {
    display: block;
    margin: 1em;
  }

  .megamap {
    display: none;
    margin: 1em;
  }

}

/* Media Query for Desktop viewport */ 
@media screen and (min-width: 769px){

  .minimap {
    display: none;
  }

  .medmap {
    display: none;
    margin: 1em;
  }

  .megamap {
    display: block;
    margin: 1em;
  }

}
